# =========================
# DATABASE
# =========================
MYSQL_DATABASE=[your_database_name]
MYSQL_ROOT_PASSWORD=[your_password]

# =========================
# REDIS
# =========================
REDIS_HOST=[redis_host(localhost)]
REDIS_PORT=[redis_port(6379)]
REDIS_PASSWORD=[redis_password]

# =========================
# JWT
# =========================
JWT_KEY=[generated_key_512_bits]

# =========================
# FRONTEND
# =========================
FRONT_END_URL=[frontend_url(http://localhost:3000)]

# =========================
# SMTP (EMAIL)
# =========================
SMTP_USERNAME=[google_account]
SMTP_PASSWORD=[google_app_password]

# =========================
# S3 / MINIO
# =========================
S3_REGION=[aws_region(ca-central-1)]
S3_ACCESS_KEY_ID=[access_key]
S3_SECRET_ACCESS_KEY=[secret_key]
S3_BUCKET_NAME=[bucket_name]
S3_INTERNAL_ENDPOINT=[http://minio:9000]
S3_PUBLIC_ENDPOINT=[http://localhost:9000]
S3_ROOT_USERNAME=[minio_root_username]
S3_ROOT_PASSWORD=[minio_root_password]

# =========================
# OAUTH (AUTH0)
# =========================
OAUTH_DOMAIN=[auth0_domain]
OAUTH_CLIENT_ID=[client_id]
OAUTH_CLIENT_SECRET=[client_secret]
OAUTH_REDIRECT=[oauth_callback_url]
OAUTH_MAIN_URL=[frontend_home_url]
OAUTH_USERNAME_URL=[username_setup_url]

# =========================
# AI SERVICE
# =========================
AI_MODEL=[ollama_model_name]
AI_URL=[ollama_api_url(http://localhost:11434)]